{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "next/core-web-vitals"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "indent": "off",
    "quotes": "off",
    "semi": [
      "error",
      "always"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-console": "warn",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-extra-semi": "error",
    "no-trailing-spaces": "error",
    "default-case": "error",
    "curly": [
      "error",
      "multi",
      "consistent"
    ],
    "eqeqeq": [
      "error",
      "smart"
    ],
    "no-empty-function": "error",
    "no-multi-spaces": "error",
    "no-param-reassign": "error",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-unused-vars": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "caseSensitive": false
      }
    ],
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/label-has-associated-control": "warn",
    "react/display-name": "off",
    "react/jsx-max-props-per-line": [
      1,
      {
        "when": "multiline"
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
