.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.lowContainer {
    background-color: red;
}

.moderateContainer {
    background-color: orange;
}

.highContainer {
    background-color: green;
}
